body {
  background-color: #000000;
  overflow: hidden;
}

#three-canvas-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh !important;
  width: 100vw !important;
}

.header {
  z-index: 99;
  color: white;
}
